<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disabledPackageSources>
    <add key="Microsoft and .NET"
         value="true" />
  </disabledPackageSources>
  <packageRestore>
    <add key="enabled"
         value="True" />
    <add key="automatic"
         value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip"
         value="True" />
  </bindingRedirects>
  <packageSources>
    <add key="NuGet"
         value="https://api.nuget.org/v3/index.json" />
    <add key="AspNetCiDev"
         value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    <add key="xunit"
         value="https://www.myget.org/F/xunit/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All"
         value="(Aggregate source)" />
  </activePackageSource>
</configuration>
