<?xml version="1.0" encoding="utf-8"?>
<!-- These settings override the placeholders in App.config -->
<!-- Add your personal credentials here for development. -->
<appSettings>
  <add key="GitHubCredentials"
       value="appid:secret;appid:secret"/>
  <add key="GitHubTestToken"
       value ="[token]"/>
</appSettings>
