<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- This should work with a default SQL Server installation. -->
  <add name="ShipHubContext"
       connectionString="Server=(local);Database=ShipHub;User=ShipUser;Password=uB4vtZbsjUGvqzmS0S6i;MultipleActiveResultSets=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
