<?xml version="1.0" encoding="utf-8"?>
<!-- These settings override the placeholders in App.config -->
<!-- Add your personal credentials here for development. -->
<appSettings>
  <!-- Fiddler Settings -->
  <add key="UseFiddler"
       value="false" />
  
  <!-- EF Settings -->
  <!-- Setting this to true only works on Azure, and not for Unit Tests (or user transactions) -->
  <add key="UseSqlAzureExecutionStrategy"
       value="false" />

  <!-- Used by Orleans -->
  <add key="DeploymentId"
       value="[must match on silos and clients]"/>
  <add key="DataConnectionString"
       value="UseDevelopmentStorage=true"/>

  <!-- Set to your development hostname. This is used to generate webhook -->
  <!-- urls that refer back to your development machine (or prod). -->
  <add key="ApiHostName"
       value="invalid-host.realartists.com"/>
  <!-- Keep as-is unless you're testing against a not-yet-released version of the website. -->
  <add key="WebsiteHostName"
       value="www.realartists.com"/>

  <!-- Using the "realartists-test" ChargeBee site is fine for development. -->
  <add key="ChargeBeeHostAndKey"
       value="realartists-test:test_ccuaPWnTo7eUwEp9X3jni4EYVOCC63TBL"/>
  <!-- ChargeBee will post events to `/chargebee/<this secret>`.  In production, -->
  <!-- this value is set in the Azure portal. -->
  <add key="ChargeBeeWebHookSecret"
       value="iJdHEAgrd2TL3kfNLkmJvNBuW9uroPnGabJ"/>

  <!-- Uncomment and set if you want to receive emails.  Otherwise, emails will not be sent. -->
  <!-- <add key="SmtpPassword" value="[password for shiphub@email.realartists.com]" /> -->

  <!-- Both WebJobs and the main server rely on Azure Service Bus for communication and events. -->

  <!-- The name and key can be obtained from the azure portal. Please make your own storage account for development. -->
  <!-- https://portal.azure.com/#blade/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.Storage%2FStorageAccounts -->
  <!-- Real format is "DefaultEndpointsProtocol=https;AccountName=[NAME];AccountKey=[KEY]" -->
  <add key="AzureWebJobsDashboard"
       value="UseDevelopmentStorage=true"/>
  <add key="AzureWebJobsStorage"
       value="UseDevelopmentStorage=true"/>

  <!-- Same drill here. Please make your own namespace for development. -->
  <!-- https://manage.windowsazure.com/nickrealartists.onmicrosoft.com#Workspaces/ServiceBusExtension/namespaces -->
  <!-- These can't be emulated locally right now. -->
  <add key="AzureWebJobsServiceBus"
       value="Endpoint=sb://[NAME].servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[KEY]"/>
  <!-- The pair namespace should be an a different region (for HA, optional) -->
  <add key="AzureWebJobsServiceBusPair"
       value="Endpoint=sb://[NAME]-pair.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[KEY]"/>

  <!-- For GitHub request/response logging (optional) -->
  <add key="GitHubLoggingStorage"
       value="DefaultEndpointsProtocol=https;AccountName=[NAME];AccountKey=[KEY]"/>

  <!-- Optionally override the GitHub API Uri (used for fakehub). Must be absolute and end in "/" -->
  <!-- Omission or empty string uses "https://api.github.com/" -->
  <add key="GitHubApiRoot"
       value="" />
</appSettings>
