<?xml version="1.0" encoding="utf-8"?>
<!-- These settings override the placeholders in App.config -->
<!-- Add your personal credentials here for development. -->
<appSettings>
  <!-- Get these from https://github.com/organizations/realartists/settings/applications -->
  <!-- You only need the ones you intend to use. -->
  <add key="GitHubCredentials"
       value="appid:secret;appid:secret;..."/>
  
  <!-- This is a temporary thing used for triggering events while debugging -->
  <!-- It must be issued by one of the above listed applications or you'll get intermittent failures -->
  <add key="GitHubTestToken"
       value ="[token]"/>
  
  <!-- Both WebJobs and the main server rely on Azure Service Bus for communication and events. -->

  <!-- The name and key can be obtained from the azure portal. Please make your own storage account for development. -->
  <!-- https://portal.azure.com/#blade/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.Storage%2FStorageAccounts -->
  <add key="AzureWebJobsDashboard"
       value="DefaultEndpointsProtocol=https;AccountName=[NAME];AccountKey=[KEY]"/>
  <add key="AzureWebJobsStorage"
       value="DefaultEndpointsProtocol=https;AccountName=[NAME];AccountKey=[KEY]"/>

  <!-- Same drill here. Please make your own namespace for development. -->
  <!-- https://manage.windowsazure.com/nickrealartists.onmicrosoft.com#Workspaces/ServiceBusExtension/namespaces -->
  <add key="AzureWebJobsServiceBus"
       value="Endpoint=sb://[NAME].servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[KEY]"/>
</appSettings>
