<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <configSections>
    <section xdt:Transform="Insert"
             name="RaygunSettings"
             type="Mindscape.Raygun4Net.RaygunSettings, Mindscape.Raygun4Net" />
  </configSections>
  <appSettings xdt:Transform="Replace">
    <add key="aspnet:UseTaskFriendlySynchronizationContext"
         value="true" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
  </connectionStrings>
  <RaygunSettings xdt:Transform="Insert"
                  apikey=""
                  excludeHttpStatusCodes="400,403,404"
                  ignoreHeaderNames="Authorization,Authorisation"
                  ignoreFormFieldNames="token"
                  ignoreServerVariableNames="token" />
  <runtime>
    <ThrowUnobservedTaskExceptions xdt:Transform="Remove" />
  </runtime>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!-- Since we can't set <deployment retail="true" />-->
    <customErrors xdt:Transform="Replace"
                  mode="On" />
    <trace xdt:Transform="Insert"
           enabled="false" />

    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="HTTP to HTTPS redirect"
              stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}"
                 pattern="off"
                 ignoreCase="true" />
          </conditions>
          <action type="Redirect"
                  url="https://{HTTP_HOST}/{R:1}"
                  redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS"
              enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security"
                 pattern=".*" />
          <conditions>
            <add input="{HTTPS}"
                 pattern="on"
                 ignoreCase="true" />
          </conditions>
          <action type="Rewrite"
                  value="max-age=31556900; includeSubDomains" />
        </rule>
      </outboundRules>
    </rewrite>
    <modules>
      <remove xdt:Transform="Insert"
              name="TelemetryCorrelationHttpModule" />
      <add xdt:Transform="Insert"
           name="TelemetryCorrelationHttpModule"
           type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"
           preCondition="integratedMode,managedHandler" />
      <remove xdt:Transform="Insert"
              name="ApplicationInsightsWebTracking" />
      <add xdt:Transform="Insert"
           name="ApplicationInsightsWebTracking"
           type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
           preCondition="managedHandler" />
    </modules>
  </system.webServer>
</configuration>
