<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext"
         value="true"/>
    <add key="GitHubCredentials"
         value="28ff213668a64e463c91:ef618bcb9000aef6960bed91a8becf2e33390342;da1cde7cfd134d837ae6:3aeb9af555d7d2285120b133304c34e5a8058078;dc74f7ec664b73a51971:e7a419d671bfe71002aa8c40ed317cf07d3bcea1"/>
  </appSettings>
  <connectionStrings>
    <add name="GitHubContext"
         connectionString="Server=(local);Database=ShipHub;User=GitHubUser;Password=epzoy9rbL18sZRhlikXL;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient"/>
    <add name="ShipHubContext"
         connectionString="Server=(local);Database=ShipHub;User=ShipUser;Password=uB4vtZbsjUGvqzmS0S6i;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
                          publicKeyToken="30AD4FE6B2A6AEED"
                          culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0"
                         newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http"
                          publicKeyToken="31BF3856AD364E35"
                          culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0"
                         newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"
                 targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*."
           verb="*"
           type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <caching enabled="false"
             enableKernelCache="false"/>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json"
             enabled="true"/>
        <add mimeType="application/json; charset=utf-8"
             enabled="true"/>
      </dynamicTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="true"/>
    <modules>
      <!-- Required for web.config release transform. -->
    </modules>
  </system.webServer>
</configuration>
