<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ra-shiphub-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ra-shiphub-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ra-shiphub-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ra-shiphub-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ShipHubContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ra-shiphub.database.windows.net,1433;Initial Catalog=ShipHubDev;User ID=unicorns@ra-shiphub;Password=gBvwJM0LIXN6f4sqaMVP;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ra-shiphub.database.windows.net,1433;Database=ShipHubDev;User ID=unicorns@ra-shiphub;Password=gBvwJM0LIXN6f4sqaMVP;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RealArtists.ShipHub.Common.DataModel.ShipHubContext, RealArtists.ShipHub.Common" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ShipHubContext_deploy" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:ra-shiphub.database.windows.net,1433;Initial Catalog=ShipHubDev;User ID=unicorns@ra-shiphub;Password=gBvwJM0LIXN6f4sqaMVP;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ra-shiphub.database.windows.net,1433;Database=ShipHubDev;User ID=unicorns@ra-shiphub;Password=gBvwJM0LIXN6f4sqaMVP;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=(local);Initial Catalog=ShipHub;User ID=ShipUser;Password=uB4vtZbsjUGvqzmS0S6i" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ShipHubContext_deploy_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=(local);Database=ShipHub;User=ShipUser;Password=uB4vtZbsjUGvqzmS0S6i;MultipleActiveResultSets=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbDacFx">
            <Source Path="..\RealArtists.ShipHub.Database\bin\Release\RealArtists.ShipHub.Database.dacpac" dacpacAction="Deploy" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ShipHubContext-Web.config Connection String">
      <ParameterValue>Server=tcp:ra-shiphub.database.windows.net,1433;Database=ShipHubDev;User ID=unicorns@ra-shiphub;Password=gBvwJM0LIXN6f4sqaMVP;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ShipHubContext_deploy-Web.config Connection String">
      <ParameterValue>server=tcp:ra-shiphub.database.windows.net,1433;database=ShipHubDev;user id=unicorns@ra-shiphub;password=gBvwJM0LIXN6f4sqaMVP;encrypt=True;trustservercertificate=False;connection timeout=30;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>