@* Generator: Template GeneratePrettyNames: true *@
@using RealArtists.ShipHub.Mail;
@using RealArtists.ShipHub.Mail.Models;
@inherits ShipHubTemplateBase<CancellationScheduledMailMessage>
@{
  Layout = new RealArtists.ShipHub.Mail.Views.LayoutHtml() { Model = Model };
}
<p>
    This is a confirmation that your Ship subscription will cancel on
    <strong>@(Model.CurrentTermEnd.ToString("MMM d, yyyy"))</strong>.
</p>
<p class="last">
    Thank you for your business!
</p>
