@using RealArtists.ShipHub.Mail;
@using RealArtists.ShipHub.Mail.Models;
@inherits ShipHubTemplateBase<CardExpiryReminderMailMessage>
@{
  Layout = "LayoutHtml";
}

<p>
    Your credit card ending in <strong>@Model.LastCardDigits</strong> @(Model.AlreadyExpired ? "expired on" : "will expire on") <strong>@Model.ExpiryMonth/@Model.ExpiryYear</strong>.
</p>
<p>
    To prevent any interuption in your Ship service, please update your payment information using the link below.
</p>
<p class="last">
    <a href="@Model.UpdatePaymentMethodUrl">Update Payment Information</a>
</p>
