@using RealArtists.ShipHub.Mail;
@using RealArtists.ShipHub.Mail.Models;
@inherits ShipHubTemplateBase<PaymentRefundedMailMessage>
@{
  Layout = "LayoutHtml";
}
<p>
    We've issued a refund for <strong>@string.Format("{0:C}", Model.AmountRefunded)</strong> to your card ending
    in <strong>@Model.LastCardDigits</strong>.  Attached is a receipt for your records.
</p>
<p class="last">
    Thanks for your business!
</p>
