@* Generator: Template GeneratePrettyNames: true *@
@using RealArtists.ShipHub.Mail;
@using RealArtists.ShipHub.Mail.Models;
@inherits ShipHubTemplateBase<PaymentSucceededPersonalMailMessage>
@{
  Layout = new RealArtists.ShipHub.Mail.Views.LayoutHtml() { Model = Model };
}
<p>
    We received payment for your personal Ship subscription.
</p>
<p>
    <strong>@string.Format("{0:C}", Model.AmountPaid)</strong> was charged to your card ending
    in <strong>@Model.LastCardDigits</strong> and covers service through <strong>@Model.ServiceThroughDate.ToString("MMM d, yyyy")</strong>.
    Attached is a PDF invoice for your records.
</p>
<p class="last">
    We appreciate your business!
</p>
