@* Generator: Template GeneratePrettyNames: true *@
@using RealArtists.ShipHub.Mail;
@using RealArtists.ShipHub.Mail.Models;
@inherits ShipHubTemplateBase<PaymentRefundedMailMessage>
@{
  Layout = new RealArtists.ShipHub.Mail.Views.LayoutHtml() { Model = Model };
}
<p>
    We've issued a refund for <strong>@string.Format("{0:C}", Model.AmountRefunded)</strong> to your
    @PaymentMethodSummaryHtml(Model.PaymentMethodSummary).
</p>
<p>
    <a href="@Model.CreditNotePdfUrl">Download a PDF receipt</a> for this transaction.
</p>

<p class="last">
    Thanks for your business!
</p>
