@* Generator: Template GeneratePrettyNames: true *@
@using RealArtists.ShipHub.Mail;
@using RealArtists.ShipHub.Mail.Models;
@inherits ShipHubTemplateBase<PurchaseOrganizationMailMessage>
@{
  Layout = new RealArtists.ShipHub.Mail.Views.LayoutHtml() { Model = Model };
}
<p>
    Thanks for purchasing a subscription to Ship - we hope your
    team enjoys using it.
</p>
<p>
    Attached is an invoice receipt for your records.
</p>

<h4>How to manage your account:</h4>
<p class="last">
    If you need to change billing or payment info, or need to cancel your account, you can do so
    from within the Ship application. From the <em>Ship</em> menu,
    choose <em>Manage Subscription</em>.  Then click <em>Manage</em> for
    your account.
</p>